.task-card {
    background-color: #ffffff;
    border: 1px solid #dadada;
    border-radius: 6px;
    box-shadow: 3px 3px 8px 0 rgba(215, 215, 215, 0.5);
}

.task-card:not(.selected):hover {
    background: var(--lwc-colorBackgroundRowHover);
}

.task-card.selected {
    background: var(--lwc-colorBackgroundRowHover);
    border-color: var(--lwc-brandTextLink);
}

.task-card .task-card-body .task-card-body-label {
    align-items: center;
    display: flex;
}

.task-card .task-card-body .task-card-body-label .icon {
    height: 1.5rem;
    min-width: 1.5rem;
}

.task-card .task-card-body .task-card-body-label:not(.completed) .icon {
    background: #ffffff;
    border: 1px solid #979797;
    border-radius: 50%;
}

.task-card .task-card-body .task-card-body-label .label {
    color: var(--lwc-brandTextLink);
    font-size: 1rem;
    font-weight: 700;
}

.task-card .task-card-body .task-card-body-label.completed .label {
    text-decoration: line-through;
}

.task-card .task-card-body .task-card-body-description {
    color: var(--lwc-colorTextDefault);
    font-size: 0.875rem;
    font-weight: 400;
    padding-left: 2.25rem;
    overflow: hidden;
    text-overflow: ellipsis;
    width: calc(100% - 2.25rem);
    white-space: nowrap;
}
