div.banner-wrapper {
    align-content: center;
    display: flex;
    flex-direction: column;
    height: 25rem;
    justify-content: center;
    left: -1.5rem;
    max-width: 1600px;
    position: absolute;
    right: -1.5rem;
    top: 0;
}

div.banner-wrapper h1 {
    color: #ffffff;
    font-size: 4rem;
    font-weight: 700;
    margin: 0 auto;
    padding: 2.25rem;
    position: relative;
    text-align: center;
    text-shadow: 2px 2px 12px rgba(44, 44, 44, 0.5);
    top: -0.625rem;
}

@media (max-width: 767px) {
    div.banner-wrapper h1 {
        font-size: 3rem;
    }
}
