.slds-card__header {
    background: rgb(243, 242, 242);
    border: 0 !important;
    border-bottom: 1px solid rgb(221, 219, 218) !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid rgb(221, 219, 218);
    border-radius: 0.25rem 0.25rem 0 0;
    display: flex;
    background-clip: padding-box;
    margin-bottom: 0 !important;
    padding: 1rem !important;
}
.slds-card {
    border: 1px solid rgb(221, 219, 218) !important;
}
.slds-card__body {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}
